<div class="container-fluid m-top m-bottom">
  <p id="notice"><%= notice %></p>
  
  <div class="row">
    <div class="col s12 m6">
      <img class="img-product-edit" src="<%= @product.url %>"/>
    </div>
    <div class="col s12 m6">
      <p>
        <strong>Name:</strong>
        <%= @product.name %>
      </p>
      <p>
        <strong>Quantity:</strong>
        <%= @product.quantity %>
      </p>
      <p>
        <strong>Amount:</strong>
        <%= @product.amount %>
      </p>
      <p>
        <strong>Category:</strong>
        <%= @product.category.id %>
      </p>
      <%= link_to 'Edit', edit_admin_product_path(@product), :class => 'btn-orange' %> 
      <%= link_to 'Back', admin_products_path, :class => 'btn-orange' %>
    </div>
  </div>
</div>
