<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<ul id="slide-out" class="sidenav sidenav-fixed">
  <li><a data-value="Nuevos Modelos" class='button-categoria'>Nuevos Modelos</a></li>
  <li><a data-value="Jeans" class='button-categoria'>Jeans</a></li>
  <li><a data-value="Polos" class='button-categoria'>Polos</a></li>
  <li><a data-value="Pantalones" class='button-categoria'>Pantalones</a></li>
  <li><a data-value="Vestidos" class='button-categoria'>Vestidos</a></li>
  <li><a data-value="Faldas" class='button-categoria'>Faldas</a></li>
  <li><a data-value="Crops" class='button-categoria'>Crops</a></li>
  <li><a data-value="Chompas" class='button-categoria'>Chompas</a></li>
  <li><a data-value="Conjuntos" class='button-categoria'>Conjuntos</a></li>
</ul>
<a href="#" data-target="slide-ouass="sidenav-trigger"><i class="material-icons">menu</i></a>
          
          
  
<div class= "all-products">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col s12 m4 l4 card single-td" id="<%= product.category.name %>">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="<%= product.url %>">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><%= product.name %><i class="material-icons right">more_vert</i></span>
          <p><a href="">View more</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><%= product.name %><i class="material-icons right">close</i></span>
          <p><%= product.category.name %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>

