<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<ul id="slide-out" class="sidenav sidenav-fixed">
  <div class="collection">
    <a data-value="Nuevos Modelos" class='collection-item button-categoria'><span class="new badge">4</span>Nuevos Modelos</a>
    <a data-value="Jeans" class='collection-item button-categoria'><span class="badge">1</span>Jeans</a>
    <a data-value="Polos" class='collection-item button-categoria'>Polos</a>
    <a data-value="Pantalones" class='collection-item button-categoria'>Pantalones</a>
    <a data-value="Vestidos" class='collection-item button-categoria'>Vestidos</a>
    <a data-value="Faldas" class='collection-item button-categoria'>Faldas</a>
    <a data-value="Crops" class='collection-item button-categoria'>Crops</a>
    <a data-value="Chompas" class='collection-item button-categoria'>Chompas</a>
    <a data-value="Conjuntos" class='collection-item button-categoria'>Conjuntos</a>
  </div>
</ul>

<div class= "all-products">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col s12 m4 l4 card single-td" id="<%= product.category.name %>">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="<%= product.url %>">
        </div>
        <div class="card-content">
          <span style="font-size:18px; font-weight: bold;" class="card-title activator grey-text text-darken-4"><%= product.name %><i class="material-icons right">more_vert</i></span>
          <td><%= link_to 'Detalles', product %></td>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><%= product.name %><i class="material-icons right">close</i></span>
          <p><%= product.category.name %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class='pagination'><%= will_paginate @products %></div>
